.home__dogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin: 2em 10em 5em 10em;
  text-align: center;
  justify-items: center;
}
.home__filters {
  background-color: #ec3f36;
  padding: 1em;
}
.home__filterSearch {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 1fr 1fr;
}
.home__filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}
.filter__label {
  justify-self: end;
  color: white;
  font-size: 18px;
}
.filter__select {
  justify-self: left;
  margin-left: 2em;
  font-size: 14px;

}
.home__pages {
  text-align: center;
}
.button__number {
  background-color: #493a64;
  color: white;
  border-radius: 0.1em;
}
.button__number:hover {
  transform: scale(1.3);
  transition: all 350ms;
}

label {
  width: fit-content;
  height: fit-content;
}
.home__text {
  display: grid;
  text-align: center;
  font-size: 20px;
  justify-items: center;
}
.home__title {
  color: #493a64;
}
.home__sub {
  color: #ec3f36;
  background-color: #493a64;
  width: 12em;
  border-radius: 0.5em;
}
