.landing {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 8em;
  background-color: #493a64;
}
.logoLanding {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin-top: 0.5em;
}

.logoLanding:hover {
  transform: scale(1.5);
  transition: all 300ms;
}
.landing__text {
  color: white;
  font-size: 20px;
}
