.navbar {
  background-color: #493a64;

  margin: 0;
  height: 10em;
  text-align: center;
  padding: 0;
}
.logo {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-top: 0.5em;
  /* padding: 0;
    margin: 0; */
}
.logo:hover {
    /* width: 6em;
    height: 6em; */
  transform: scale(.5);
  transition: all 300ms;
}
.button__navbar {
  font-size: 2.9em;
  color: white;
  margin: 0 2em 0 2em;
  padding: 0;
}
.button__navbar:hover {
  background-color: #033e69;
  color: #ec3f36;
  border-radius: 0.1em;
  transform: scale(1.1);
  transition: all 300ms;
}
a:-webkit-any-link {
  color: none;
  cursor: pointer;
  text-decoration: none;
}
