.post {
  display: grid;
  place-items: center;

  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 20em;
  margin-right: 20em;
  padding-bottom: 2em;
  color: white;
  background-color: #493a64;
  border-radius: 1em;
  outline: 0.5px double white;
  outline-width: 0.3em;
  outline-offset: -10px;
}
input {
  width: 20em;
}
select {
  width: 20.5em;
  text-align: center;
}
.form__div {
  display: grid;
  grid-template-columns: 1fr 2em 1fr 2em;
}
.input__div {
  width: 7.3em;
  height: 1.4em;
  justify-self: center;
  align-self: center;
}
.error__div {
  display: grid;
  grid-template-columns: 1fr;
}
.error__output {
  width: 20em;
  margin-left: 1em;
  margin-right: 1em;
}
.input__p {
  width: 1em;
  height: 1em;
}
.temperaments__show--button {
  width: fit-content;
  height: 1.5em;
}
